
  <div class="modal__container_right">
        <img class="modal__img" src="https://image.tmdb.org/t/p/w500{{poster_path}}" alt="">
    </div>
    <div class="modal__container_left">
        <h3 class="modal__title">{{title}}</h3>
        <ul class="modal__list modal-list">
            <li class="modal-list__item">
                <p class="modal-list__text">
                    Vote / Votes
                </p>
                <p class="modal-list__text_second "><span class="modal-list__akcent">{{vote_average}}</span><span class="modal-list__text_span">/</span><span
                        class="modal-list__text_span_second"> {{vote_count}}</span></p>
            </li>
            <li class="modal-list__item">
                <p class="modal-list__text">Popularity</p>
                <p class="modal-list__text_second">{{popularity}}</p>
            </li>
            <li class="modal-list__item">
                <p class="modal-list__text">Original Title</p>
                <p class="modal-list__text_second">{{original_title}}</p>
            </li>
            <li class="modal-list__item">
                <p class="modal-list__text">Genre</p>
                <p class="modal-list__text_second genres">{{#each genres}} {{this.name}} {{/each}}</p>
            </li>
        </ul>
        <p class="modal__about">ABOUT</p>
        <p class="modal__about_text">
            {{overview}}
        </p>
        <div class="modal__container_btn">
            <button class="modal__button_watch" type="button">ADD TO WATCHED</button>
            <button class="modal__button_queue" type="button">ADD TO QUEUE</button>
        </div>
    </div>

